* {
  margin: 0;
  padding: 0;
}
.top,.bottom {
  height: 45%;
}
.left,.right{
  width: 49%;
  float: left;
  height:100%;
  border:1px solid black;
}
.results {
  font-family: sans-serif;
  clear: both;
}
.testResult {
  background: lightgreen;
  border-radius: 10px;
  border: 5px solid lightgreen;
  margin: 5px;
  display: inline-block;
  float: left;
  width: 40%;
}
.testResult h3 {
  display: inline-block;
}
.testResult .time {
  display: inline-block;
  width : 6em;
}
.testResult.failure {
  background: red;
  border-color: red;
}